*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea/*
/captures
.externalNativeBuild
/.idea/misc.xml
/.idea/encodings.xml
/AppCMS/release/*
/*.apk
/*.json
/AppCMS/*.json
.idea/misc.xml
.idea/modules.xml
