*.iml
.gradle
/local.properties
.DS_Store
/build
/.idea/*
/captures
.externalNativeBuild
/.idea/**
/.idea/misc.xml
/.idea/encodings.xml
/AppCMS/release/*
/*.apk
/*.json
/.idea/misc.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/modules.xml


