<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.viewlift">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:banner="@drawable/mse_top_logo"
        android:label="@string/default_app_name"
        android:icon="@drawable/mse_top_logo">
        <activity
            android:name="com.viewlift.tv.AppCMSLeanbackActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.viewlift.tv.views.activity.AppCmsTvErrorActivity"
            android:label="@string/title_activity_app_cms_tv_error"></activity>

        <activity android:name="com.viewlift.tv.views.activity.AppCmsHomeActivity"
            android:label="AppCmsHomeActivity"/>

        <activity android:name="com.viewlift.tv.views.activity.AppCMSTVPlayVideoActivity"/>

        <activity android:name="com.viewlift.tv.views.activity.AppCMSTVAutoplayActivity"/>
    </application>

</manifest>
