<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="snagfilms.com.air.appcms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.viewlift.AppCMSApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/default_app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="010453f0fe88d0a913753d705ba2c0cf368eb0c9" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name="com.viewlift.AppCMSLaunchActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.viewlift.views.activity.AppCMSPageActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <meta-data android:name="android.app.default_searchable"
                android:value="com.viewlift.views.activity.AppCMSSearchActivity"/>
        </activity>
        <activity android:name="com.viewlift.views.activity.AppCMSErrorActivity" />
        <activity android:name="com.viewlift.views.activity.AppCMSNavItemsActivity" />
        <activity android:name="com.viewlift.views.activity.AppCMSPlayVideoActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"/>
        <activity android:name="com.viewlift.views.activity.AppCMSSearchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <provider
            android:authorities="@string/app_cms_search_provider"
            android:name="com.viewlift.models.data.appcms.providers.AppCMSSearchableContentProvider"/>
    </application>

</manifest>